---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Allman
IndentExternBlock: NoIndent

AllowShortFunctionsOnASingleLine: None
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
BinPackArguments: false
PenaltyReturnTypeOnItsOwnLine: 1000000
PenaltyBreakAssignment: 1000000

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: Consecutive

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true

PointerAlignment: Right

IncludeBlocks: Preserve
SortIncludes: true
IncludeCategories:
  - Regex: '^".*(config|export|version)\.h"$'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2
  - Regex: "^<.+/.+>"
    Priority: 3
  - Regex: "^<.*>"
    Priority: 4

ColumnLimit: 100
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ReflowComments: false
